#R-body {
  font-size: 0.875rem;
  background: url('/images/pagebackground.png') no-repeat center center;
  background-size: cover;
}

#R-body-inner > .flex-block-wrapper article.narrow > p {
  font-size: 0.875rem;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h2 + ol,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
  margin-top: 0 !important;
}

h2:has(+ p),
h3:has(+ p),
h4:has(+ p),
h5:has(+ p),
h6:has(+ p),
h2:has(+ ul),
h3:has(+ ul),
h4:has(+ ul),
h5:has(+ ul),
h6:has(+ ul),
h2:has(+ ol),
h3:has(+ ol),
h4:has(+ ol),
h5:has(+ ol),
h6:has(+ ol) {
  margin-bottom: 0 !important;
}

p + ul,
p + ol {
  margin-top: -0.5rem !important;
}